.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}
.logo {
  width: 120px;
  padding: 10px;
}
.nav-items > ul {
  display: flex;
  list-style: none;
  font-size: 24px;
}

.nav-items > ul > li {
  margin: 10px;
  padding: 10px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  width: 200px;
  height: 350px;
  background-color: #f0f0f0;
  padding: 5px;
  margin-right: 1px;
  margin-bottom: 10px;
}
.res-card:hover {
  border: 1px solid black;
}
.search {
  padding: 10px;
}
.res-logo {
  width: 100%;
  height: 130px;
}

.filter-button {
  margin: 10px;
  cursor: pointer;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  margin: 20px;
  width: 200px;
  height: 350px;
  background-color: #f0f0f0;
}

.filter {
  display: flex;
}

.user-card {
  padding: 10px;
  border: 1px solid black;
}
